html {
	min-height: 100%;
}

body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	/* background: url(/img/mario-bg.png) no-repeat; */
	background-size: 100%;
	background-position: bottom;
	background-color: #dcedf0;
	min-height: 100%;
}

.form-container {
	padding: 20px;
	margin-top: 60px;
}

form button,
form h5 {
	margin: 20px 0;
}

input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
	border-color: #ec407a;
	box-shadow: none;
}

input[type=text]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label,
input[type=email]:not(.browser-default):focus:not([readonly]) + label,
input[type=password]:not(.browser-default):focus:not([readonly]) + label {
	color: #ec407a !important;
}

.mt-15 {
	margin-top: 15px;
}

.login-container,
.signup-container {
	padding: 30px 60px;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	max-width: 35%;
	width: 100%;

	.social-buttons {
		display: flex;
		flex-direction: column;

		a {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			margin: 12px 0;

			i {
				margin-right: 12px;
			}
		}
	}
}

.content-container {
	padding: 30px;
}
.login-progress {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9999;
	margin: 0;
}

.flex-field {
	display: flex;
	flex-direction: row;

	.flex-1 {
		flex: 1;
	}
}

.toggle-form {
	padding: 20px;
}
